package ${pkg};

import org.nutz.mvc.annotation.Fail;
import org.nutz.mvc.annotation.IocBy;
import org.nutz.mvc.annotation.Modules;
import org.nutz.mvc.annotation.SetupBy;
import org.nutz.mvc.annotation.Views;
import org.nutz.mvc.ioc.provider.ComboIocProvider;
import org.nutz.web.ajax.AjaxViewMaker;
import org.nutz.web.error.ErrPageViewMaker;

@Modules(scanPackage = true)
@IocBy(type = ComboIocProvider.class,
// 采用复合加载器的参数
args = {"*org.nutz.ioc.loader.json.JsonLoader",
        "ioc",
        "*org.nutz.ioc.loader.annotation.AnnotationIocLoader",
        "${pkg}.module"})
@SetupBy(${pnm}Setup.class)
@Views(value = {AjaxViewMaker.class, ErrPageViewMaker.class})
@Fail("errpage")
public class ${pnm}MainModule {}
