package ${pkg}.module;

import org.nutz.ioc.loader.annotation.IocBean;
import org.nutz.mvc.annotation.At;
import org.nutz.mvc.annotation.Fail;
import org.nutz.mvc.annotation.Ok;


@IocBean
@At("/${at}")
@Ok("ajax")
@Fail("ajax")
public class ${mnm}Module {

}