
# 以下是 web.prpoerties 要求的几个配置项目，必须正确配置
#==================================================================
# 应用的ＷebContent目录
app-root=${app-root-dir}
# 应用的端口号 
app-port=${app-port}
# 存放静态配置文件的路径，比如可以是 http://xxx.xxx.xx/xx ，这样你就能把你的静态
# 资源集中在一个更高效的 web 服务器上。默认为空串，即你应用的根目录
app-rs=${app-rs}
# 应用的类路径
app-classpath:
# 应该管理端口（一般用来关闭服务）
admin-port=${app-admin-port}
